/*Selector universal*/

/*font-family: 'Allerta', sans-serif;
font-family: 'Montserrat', sans-serif;*/

*{
 /* width: ;
  height: ;*/
 padding: 10px;
 margin: 10px;
  border: 2px solid red;
}

body {
  font-family: 'Allerta', sans-serif;
}

.menu ,
.menu li{
  font-size: 24px;
  display: inline-block;
}

.titulo{
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
}


.title-a{
    font-size: 24px;
}

.title-b{
  font-size: 50px;
}

.guitarras{
  color: #1f313c;
}

.guitarras h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

 .portada {
  background-image: url('../images/background.png');
  color: white;
 }

 .logotipo{
  display: inline-block;
 }



